<%- provide :head do -%>
   <%= stylesheet_link_tag :clan -%>
<%- end -%>

<section class="info-block clan-details main-column">

  <h2 class="name">
    <%= @clan.name %>
  </h2>
</section>

<section class="main-column">

  <h2>Kin</h2>

  <%= form_tag clan_path, method: "PUT" do %>
  <ul>
  <% @clan.kinships.each do |kin| %>
  <li>
    <p class="avatar"><%= image_tag kin.user.decorate.avatar_url 45 %></p>
    <b><%= kin.user.name %></b>
    <% if can? :manage, current_clan %>
      &mdash; <%= select_tag "kin[#{kin.id}][role]", options_for_select(%w( admin user guest ), kin.role) %>
    <% end %>
  </li>
  <% end %>
  </ul>
  <% if can? :manage, current_clan %>
  <br/>
  <%= submit_tag "Update Permissions" %>
  <% end %>
  <% end %>

</section>

<section class="main-column">
  <h2>Setup GitHub Metrics</h2>
  <p>To make things easier, you can use the <code>github_api</code> gem. Examples below refer to this gems usage.</p>
  <p>To use these code snippets, put your github username and password into the <code>login</code> and <code>password</code> variables respectively, and then just copy and paste away.</p>


  <h3>Pushes</h3>
  <pre>
    require 'github_api'
    github = Github.new login: login, password: pasword
    github.hooks.create(
      name: 'Hilander Pushes for <%= current_clan.name %>',
      active: true,
      config: {
        url: 'http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/github_push.json'
      },
      events: ['push']
    )
  </pre>

  <h3>Issue Opens</h3>
  <pre>
    require 'github_api'
    github = Github.new login: "github login", password: "github password"
    github.hooks.create(
      name: 'Hilander Issue Opens for <%= current_clan.name %>',
      active: true,
      config: {
        url: 'http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/github_issue_opened.json'
      },
      events: ['issues']
    )
  </pre>

  <h3>Issue Closes</h3>
  <pre>
    require 'github_api'
    github = Github.new login: "github login", password: "github password"
    github.hooks.create(
      name: 'Hilander Issue Closes for <%= current_clan.name %>',
      active: true,
      config: {
        url: 'http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/github_issue_closed.json'
      },
      events: ['issues']
    )
  </pre>

  <h2>TeamCity Builds</h2>
  <p>You'll need to install the <code>tcWebHooks</code> plugin into your TeamCity environment. From there, setup a webhook to POST JSON to the following endpoint:</p>
  <pre>
    http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/team_city_build_complete
  </pre>

  <h2>CodeClimate</h2>
  <p>The url endpoint is:</p>
  <pre>
    http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/code_quality_improvement
  </pre>

  <h2>PagerDuty Acknowledgements</h2>
  <p>The url endpoint is:</p>
  <pre>
    http://<%= current_clan.slug %>.<%= SITE_ROOT %>/api/pager_duty_ack
  </pre>
</section>