<section class="container bounties">
	<h1><%= pluralize @bounties.length, "New Bounty" %></h1>

	<% @bounties.each do |bounty| %>
	<div>

	    <p style="float: left; padding-top: 15px"><%= image_tag UserDecorator.new(bounty.created_by).avatar_url 90 %></p>
	    <div style="padding-left: 120px; padding-top: 0.1px">
			<h2><%= bounty.name %></h2>
			<p><%= bounty.description %></p>
			<small>By <%= bounty.created_by.name %> for <%= bounty.reward %> points</small>
		</div>
	</div>
	<% end %>
</section>